<!DOCTYPE html>
<html>
  <head>
    <title>TryExam</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <h1>TryExam!</h1>
    <div><%= link_to 'top画面へ', root_path %></div>
    <Hr>
  </head>

  <body>
    <%= yield %>
  </body>

  <foot>
    <Hr>
    <h3>footer<h3>
  </foot>
</html>
